#try{
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(2,500px);
  grid-template-rows: repeat(2,90px);
  gap: 20px;
  padding: 20px;

}
#try div{
border: 1px solid #ddd;
border-radius: 10px;

}
#try div:hover{
  cursor: pointer;
  
}