#slideshow {
  width: 100%;
  height: 300px;
  border: 2px solid red;
}

#main > div:nth-child(2) {
  width: 100%;
  height: 25px;
  display: flex;
  padding-top: 5px;
  border: 1px solid grey;
}

#main > div:nth-child(2) > p > a {
  text-decoration: none;
}

#main > div:nth-child(2) > p {
  margin: 0px;
  padding: 0px;
}

#lowerDiv {
  display: flex;
  height: auto;
  gap: 20px;
}

#leftPanal {
  width: 20%;
  height: auto;
  border: 1px solid;
}

#rightPanal {
  width: 80%;
  height: auto;
  border: 1px solid;
}

#rightPanal > div {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

#sortBy {
  font-size: 20px;
  margin-top: 15px;
  border: 1px solid;
  padding: 5px;
}

#rightPanal > div > div > select {
  font-size: 16px;
  border: transparent;
}

#container {
  display: flex;
  gap: 10px;
  width: 95%;
  height: auto;
  border: 1px solid blue;
}

#container > div {
  width: 25%;
  height: 300px;
  border: 2px solid;
  text-align: center;
  padding: 50px;
}

#container > div > img {
  width: 100%;
  height: 180px;
}

#container > div > p {
  width: 80%;
}
